<!-- AQUI COMEÇA A LOJA DE VINHOS -->
<h1>
  {{title}}
</h1>  

<ul class="nav nav-pills">       
  <li class="dropdown" dropdown> <!-- {1} -->
      <a dropdownToggle role="button"> <!-- {2} -->
        Menu <span class="caret"></span></a>
      <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
          <!--<li class="dropdown-item" href="#"><a routerLink="/listaProdutos">Lista Produtos</a></li>
          <li class="dropdown-item" href="#"><a routerLink="/novoProduto">Novo Produto</a></li>
          <li class="dropdown-item" href="#"><a routerLink="/listaVendas">Lista Vendas</a></li>
          <li class="dropdown-item" href="#"><a routerLink="/novaVenda">Nova Venda</a></li>-->
          <li class="dropdown-item" href="#"><a routerLink="/listaClientes" [routerLink]="['/listaClientes', '1']">#1 - Listar Clientes pelo maior valor total em compras</a></li>
          <li class="dropdown-item" href="#"><a routerLink="/listaClientes" [routerLink]="['/listaClientes', '2']">#2 - Listar Cliente maior compra em 2016</a></li>
          <li class="dropdown-item" href="#"><a routerLink="/listaClientes" [routerLink]="['/listaClientes', '3']">#3 - Listar Clientes mais fiéis</a></li>
          <li class="dropdown-item" href="#"><a routerLink="/listaClientes" [routerLink]="['/listaClientes', '4']">#4 - Recomendar vnho para cliente</a></li>
          <li class="dropdown-item" href="#"><a routerLink="/novoCliente">Novo Cliente</a></li>
      </ul>
  </li>
</ul>

<router-outlet></router-outlet>