<h3>{{title}}</h3>
<table class="table table-striped">
    <thead>
  <tr>
    <th>ID</th><th scope="col">Codigo</th><th scope="col">Data</th><th scope="col">Cliente</th><th scope="col">Valor Total</th><th scope="col">Editar</th><th scope="col">Remover</th>
  </tr>
  <tr *ngFor='let venda of vendas'>
    <th>{{venda.id}}</th>
    <th scope="row">{{venda.codigo}}</th>
    <th>{{venda.data}}</th>
    <th>{{venda.cliente}}</th>
    <th>{{venda.valorTotal}}</th>
   
    <th><div class="buttons"> <input type="button" class="btn btn-primary" [routerLink]="['/edicaoVenda', venda.id]" value="Editar"></div></th>
    <th><div class="buttons"> <input type="button" class="btn btn-primary" routerLink='/listaVendas' (click)="remover(venda.id)" value="Remover"></div></th>
  </tr></thead>
</table>
<!--<a routerLink="/novaVenda">Nova Venda</a>-->